@use '../base'as *;

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";

  header {
    grid-area: header;
    background-color: lightseagreen;
  }

  nav {
    grid-area: nav;
    background-color: lightcoral;
  }

  main {
    grid-area: main;
    background-color: gold;
    overflow: auto;
  }

  footer {
    grid-area: footer;
    background-color: lightseagreen;
  }
}