@use '../base'as *;
@use '../functions'as *;

header {
  // >>= Props =<< //
  $pad: 1em;
  // $color-pri: $color-primary;
  $color-pri: red;
  $color-sec: blue;

  // >>= Parent =<< //
  padding: $pad;

  // >>= Children =<< //
  figure {
    transition: all 0.3s ease 0s;
    color: $color-pri;
    background-color: $color-sec;

    img {
      width: 1em;
      cursor: pointer;
    }

    img:hover {
      color: $color-sec;
      fill: $color-pri;
    }
  }

}