@use '../functions'as *;
@use '../base'as *;

header {
  background-color: $color-dark;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: $padding;
  place-items: center;
  color: $color-light;

  * {
    cursor: pointer;
    color: inherit;
    padding: $padding;
  }

  h1 {
    font-size: fs('4xl');
  }
}